*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

:root{
    --main-background: #252323;
    --text-color: #F5F1ED;
    --nav-background: #70798C;
}

body{
    background: var(--main-background);
    color: var(--text-color);

    display: flex;
    flex-direction: column;
    height: 100svh;
    justify-content: center;
    align-items: center;
}

nav{
    background: var(--nav-background);
    border-radius: 0.9rem;
}